@import 'reset.min';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$font-stack: 'Open Sans', sans-serif;
$bg-color: #fff;
$font-color: #000;

$first-color: #fff;
$second-color: #ffcc33;
$third-color: #333;
$fourth-color: #999;

@mixin font ($size, $color, $weight) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}
@mixin bg-img ($url-img) {
  background: url('../assets/img/'+$url-img+'-block-img.jpg') center / cover no-repeat fixed;
}

%animation {
  box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 6px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 16px 32px rgba(0,0,0,0.1), 0 32px 64px rgba(0,0,0,0.1);
    transform: translate(0, -2px);
  }
}

@keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }
  1% {
      display: block;
      opacity: 0;
  }
  100% {
      display: block;
      opacity: 1;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1;
  background: $bg-color;
  font-family: $font-stack;
  @include font(20px, $font-color, 400);
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1240px;
  margin: 0 auto;
}
.nav {
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  &__logo {
    width: 20%;
    line-height: 0;
    img {
      width: 100%;
    }
  }
  &__address {
    width: 10%;
    text-align: center;
    @include font(14px, $fourth-color, 400);
    line-height: 1.2;
  }
  .menu {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    &__items {
      position: relative;
      cursor: pointer;
      @include font(20px, $font-color, 400);
      text-transform: uppercase;
      &::after {
        content: '';
        display: block;
        position: absolute;
        height: 2px;
        width: 80%;
        left: 15%;
        margin-top: 5px;
        background: $second-color;
        transition: all 0.3s ease-out;
      }
      &>a {
        @include font(inherit, inherit, inherit);
      }
    }
    &__items-anim {
      &:hover {
        padding: 20px 0;
        .menu__item {
          display: block;
          animation: fadeInFromNone 0.3s ease-out;
        }
        &::after {
          width: 200px;
          height: 3px;
          left: 0;
          margin-top: 20px;
          transition: all 0.3s ease-out;
        }
      }
    }
    &__item {
      position: absolute;
      display: none;
      width: 200px;
      margin-top: 20px;
      box-shadow: 0 0 20px rgba(0,0,0,0.1);
      text-transform: none;
      background: $bg-color;
      border-radius: 0 0 5px 5px;
    }
    &__link {
      position: relative;
      padding: 5px 10px 0 10px;
      &:first-child {
        margin-top: 10px;
      }
      &:last-child {
        margin-bottom: 10px;
      }
      a {
        display: block;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        @include font(13px, $font-color, 400);
        border-bottom: 1px solid $fourth-color;
        transition: all 0.3s ease-out;
      }
      &:hover {
        &>a {
          padding-left: 10px;
          padding-right: 0;
          border-bottom: 1px solid $second-color;
          transition: all 0.3s ease-out;
        }
        .sub-menu__item {
          display: block;
          animation: fadeInFromNone 0.3s ease-out;
        }
      }
      .sub-menu__item {
        position: absolute;
        display: none;
        top: 0;
        left: 200px;
        width: 250px;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
        text-transform: none;
        background: $bg-color;
        border-radius: 0 5px 5px 5px;
      }
      .sub-menu__link {
        position: relative;
        padding: 5px 10px 0 10px;
        &:first-child {
          margin-top: 10px;
        }
        &:last-child {
          margin-bottom: 10px;
        }
        &:hover>a {
          padding-left: 10px;
          padding-right: 0;
          border-bottom: 1px solid $second-color;
          transition: all 0.3s ease-out;
        }
      }
    }
  }
}
.header {
  
}
.main {
  flex: 1 1 auto;
}
.item-block {
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    @include font(80px, $first-color, 700);
    text-align: center;
    line-height: 1.1;
    letter-spacing: 3px;
    text-shadow: 0 0 20px $font-color;
  }
  &__subtitle {
    margin: 15px;
    line-height: 1.3;
    @include font(20px, $third-color, 400);
  }
  &__text {
    padding: 20px 15px;
    @include font(30px, $font-color, 600);
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 15%;
      bottom: 15%;
      height: 2px;
      width: 80%;
      background: $second-color;
      transition: 0.3s;
    }
    &:hover {
      &::after {
        width: 100%;
        left: 0;
        bottom: 45%;
        transition: 0.3s;
      }
    }
  }
  &__row {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  .tile {
    width: 25%;
    padding: 0 15px;
    &__product {
      display: flex;
      flex-direction: column;
      height: 350px;
      padding: 15px;
      box-sizing: border-box;
      border-radius: 5px;
      @extend %animation;
    }
    &__img {
      display: flex;
      height: 60%;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
        background: $second-color;
      }
    }
    &__title {
      margin: 20px 0;
      a {
        @include font(26px, $font-color, 400);
      }
    }
    &__text {
      @include font(18px, $third-color, 400);
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    border-radius: 5px;
    button {
      appearance: button;
      width: 200px;
      height: 50px;
      background: $second-color;
      font-family: $font-stack;
      @include font(25px, $third-color, 600);
      border: none;
      border-radius: inherit;
      cursor: pointer;
      @extend %animation;
    }
  }
}
.bulb__title {
  @include bg-img('bulb');
}
.lamp__title {
  @include bg-img('lamp');
}
.accessories__title {
  @include bg-img('accessories');
}
.electrical__title {
  @include bg-img('electrical');
}
.cable__title {
  @include bg-img('cable');
}
.cable-sys__title {
  @include bg-img('cable-sys');
}