$icomoon-font-family: "icons" !default;
$icomoon-font-path: "../assets/fonts" !default;

$icon-search: "\e900";
$icon-facebook: "\e901";
$icon-instagram: "\e902";
$icon-whatsapp: "\e903";
$icon-twitter: "\e904";

