@import "_reset";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import "_iconsfont";

$font-stack: "Open Sans", sans-serif;
$bg-color: #ffffff;
$font-color: #000;

$first-color: #ffffff;
$second-color: #ffcc33;
$third-color: #272727;
$fourth-color: #999999;

@mixin font($size, $color, $weight) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}
@mixin bg-img($url-img) {
  background: url("../assets/img/" + $url-img + "-block-img.jpg") center / cover no-repeat fixed;
}

%animation {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.1), 0 32px 64px rgba(0, 0, 0, 0.1);
    transform: translate(0, -2px);
  }
}

@keyframes fadeInNav {
  0% {
    display: none;
    opacity: 0;
    margin-top: 25px;
    transform: scaleX(0.5);
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInNavItem {
  0% {
    display: none;
    opacity: 0;
    left: 150px;
    transform: scaleX(0.5);
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1;
  background: $bg-color;
  font-family: $font-stack;
  @include font(20px, $font-color, 400);
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1240px;
  margin: 0 auto;
}
.nav {
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  &__logo {
    width: 20%;
    line-height: 0;
    img {
      width: 100%;
    }
  }
  &__address {
    width: 10%;
    text-align: center;
    @include font(14px, $fourth-color, 400);
    line-height: 1.2;
  }
  .menu {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    &__items {
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: 5px;
      padding-bottom: 5px;
      cursor: pointer;
      @include font(20px, $font-color, 400);
      text-transform: uppercase;
      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        width: 80%;
        margin: 25px 0 0 10%;
        background: $second-color;
        transition: all 0.3s ease-out;
      }
      & > a {
        @include font(inherit, inherit, inherit);
      }
      & ul {
        position: absolute;
        display: none;
        width: 200px;
        cursor: auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        text-transform: none;
        background: $bg-color;
        & li {
          &:first-child {
            margin-top: 10px;
          }
          &:last-child {
            margin-bottom: 10px;
          }
          a {
            display: block;
            width: 100%;
            padding: 10px 5px 10px 15px;
            @include font(13px, $font-color, 400);
            transition: all 0.3s ease-out;
          }
          &:hover {
            background: $second-color;
            animation: fadeIn 0.3s ease-out;
            & > a {
              padding-left: 25px;
              padding-right: 5px;
              transition: all 0.3s ease-out;
            }
          }
        }
      }
      &-anim {
        &::before {
          content: "";
          display: block;
          position: absolute;
          right: -15px;
          top: 20%;
          width: 5px;
          height: 5px;
          border-top: 1px solid $font-color;
          border-right: 1px solid $font-color;
          transform: rotateZ(135deg);
          transition: all 0.3s ease-out;
        }
        &:hover {
          margin-top: 20px;
          padding-bottom: 20px;
          .menu__item {
            display: block;
            animation: fadeInNav 0.3s ease-out;
          }
          &::before {
            transform: rotateZ(-45deg);
            transition: all 0.3s ease-out;
          }
          &::after {
            width: 200px;
            height: 3px;
            margin: 40px 0 0 auto;
            transition: all 0.3s ease-out;
          }
        }
      }
      &-btn {
        &::after {
          margin-left: 10%;
        }
        &:hover {
          &::after {
            width: 120%;
            height: 3px;
            margin-left: 0;
            transition: all 0.2s ease-out;
          }
        }
      }
    }
    &__item {
      margin-top: 40px;
      border-radius: 0 0 5px 5px;
    }
    &__link {
      &-anim {
        display: flex;
        align-items: center;
        &::before {
          content: "";
          display: block;
          order: 2;
          margin-right: 10px;
          width: 5px;
          height: 5px;
          border-left: 1px solid $font-color;
          border-bottom: 1px solid $font-color;
          transform: rotateZ(225deg);
          transition: all 0.3s ease-out;
        }
        &:hover {
          &::before {
            width: 0;
            height: 0;
            margin-right: -8px;
            border-top: 8px solid #fff;
            border-right: 8px solid #fff;
            border-left: 8px solid transparent;
            border-bottom: 8px solid transparent;
            transition: all 0.3s ease-out;
          }
        }
      }
      &:hover {
        .sub-menu {
          &__item {
            display: block;
            animation: fadeInNavItem 0.3s ease-out;
          }
          &__link {
            &:hover {
              .sub-sub-menu__item {
                display: block;
                animation: fadeInNavItem 0.3s ease-out;
              }
            }
          }
        }
      }
    }
    .sub-menu__item,
    .sub-sub-menu__item {
      top: 0;
      left: 200px;
      min-height: 240px;
      border-radius: 0 5px 5px 5px;
    }
    .sub-menu__link {
      &:hover {
        .sub-menu__item-sub {
          border-radius: 0 0 5px 5px;
        }
      }
    }
  }
}
.header {
  .container {
    height: 700px;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
    background: url(../assets/img/header-img.jpg) center / cover no-repeat;
  }
  &__title {
    @include font(100px, $second-color, 700);
    font-style: italic;
    text-shadow: 5px 5px 20px $second-color + aa;
    margin: 0 70px;
  }
  &__subtitle {
    width: 70%;
    @include font(22px, $first-color, 400);
    font-style: italic;
    text-shadow: 5px 5px 20px $first-color + aa;
    line-height: 1.1;
    margin: 30px;
  }
}
.about-us {
  .container {
    height: 600px;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
    background: url(../assets/img/lamp-mini.png) left 10% top 10% no-repeat,
      url(../assets/img/lamp-mini.png) left 40% top 90% no-repeat,
      url(../assets/img/lamp-mini.png) left 85% top 50% no-repeat;
  }
  &__title {
    @include font(50px, $font-color, 800);
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    span {
      @include font(70px, $second-color, 800);
      font-style: italic;
      text-shadow: 5px 5px 20px $second-color + aa;
    }
  }
  &__subtitle {
    @include font(30px, $font-color, 600);
    margin: 50px 0 20px 0;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  &__item {
    position: relative;
    margin-left: 20px;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 4px;
      left: -20px;
      width: 5px;
      height: 8px;
      border-bottom: 3px solid $second-color;
      border-right: 3px solid $second-color;
      transform: rotateZ(40deg);
    }
  }
}
.main {
  flex: 1 1 auto;
}
.item-block {
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    @include font(80px, $first-color, 700);
    text-align: center;
    line-height: 1.1;
    letter-spacing: 3px;
    text-shadow: 0 0 20px $font-color;
  }
  &__subtitle {
    margin: 15px;
    line-height: 1.3;
    @include font(20px, $third-color, 400);
  }
  &__text {
    padding: 20px 15px;
    @include font(30px, $font-color, 600);
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 15%;
      bottom: 15%;
      height: 2px;
      width: 80%;
      background: $second-color;
      transition: 0.3s;
    }
    // &:hover {
    //   &::after {
    //     width: 100%;
    //     left: 0;
    //     bottom: 45%;
    //     transition: 0.3s;
    //   }
    // }
  }
  &__row {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
  }
  .tile {
    width: 25%;
    padding: 15px;
    box-sizing: border-box;
    &__product {
      display: flex;
      flex-direction: column;
      height: 350px;
      padding: 15px;
      box-sizing: border-box;
      border-radius: 5px;
      @extend %animation;
    }
    &__img {
      display: flex;
      height: 60%;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
        background: $second-color;
      }
    }
    &__title {
      margin: 20px 0;
      a {
        @include font(26px, $font-color, 400);
      }
    }
    &__text {
      @include font(18px, $third-color, 400);
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    margin: 40px auto 60px auto;
    border-radius: 5px;
    button {
      appearance: button;
      width: 200px;
      height: 50px;
      background: $second-color;
      font-family: $font-stack;
      @include font(25px, $third-color, 600);
      border: none;
      border-radius: inherit;
      cursor: pointer;
      @extend %animation;
    }
  }
}
.bulb__title {
  @include bg-img("bulb");
}
.lamp__title {
  @include bg-img("lamp");
}
.accessories__title {
  @include bg-img("accessories");
}
.electrical__title {
  @include bg-img("electrical");
}
.cable__title {
  @include bg-img("cable");
}
.cable-sys__title {
  @include bg-img("cable-sys");
}
.footer {
  background: $third-color;
  .container {
    background: $third-color;
    height: 400px;
    flex-direction: row;
    align-items: center;
  }
  &__col {
    height: 60%;
    width: 25%;
    padding: 0 20px;
    box-sizing: border-box;
    line-height: 1.3;
  }
  &__logo {
    &-link {
      display: block;
      width: fit-content;
      margin-bottom: 20px;
    }
    &-subtitle {
      @include font(14px, $first-color, 400);
    }
  }

  &__title {
    display: block;
    width: fit-content;
    margin-bottom: 25px;
    @include font(22px, $first-color, 400);
    &::after {
      content: "";
      display: block;
      width: 80%;
      height: 2px;
      margin: 5px 0 0 15%;
      background: $second-color;
    }
  }
  &__link {
    & > a {
      display: block;
      width: fit-content;
      padding: 5px;
      @include font(16px, $first-color, 400);
      text-transform: uppercase;
      transition: all 0.3s ease-out;
      &:hover {
        padding: 5px 20px;
        background: $second-color;
        color: $third-color;
        transition: all 0.3s ease-out;
      }
    }
    p {
      @include font(16px, $first-color, 400);
      line-height: 1.3;
    }
  }
  &__row {
    &:first-child {
      margin-bottom: 20px;
    }
  }
  &__item {
    padding: 0 5px;
    @include font(16px, $first-color, 400);
    line-height: 1.6;
    a {
      color: $second-color;
    }
  }
  .social {
    display: flex;
    justify-content: flex-start;
    &__link {
      margin: 0 5px;
      &:first-child {
        margin-left: 0;
      }
    }
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $first-color;
      @include font(24px, $third-color, 400);
      transition: all 0.3s ease-out;
      &:hover {
        transform: scale(1.2);
        background: $second-color;
        transition: all 0.3s ease-out;
      }
    }
  }
  &__map-img {
    background: url(../assets/img/map-img.png) center / cover no-repeat;
  }
}
